doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='/views/css/page.css')
		title Address & Transaction Classification
	body
		header(id="menu", style="display:none;")
			form(action='/', method='get')
				input(id="home_button", type="submit", value="F1")
			form(action='/f4', method='get')
				input(id="f4_button", type="submit", value="F4")

		article
			h1 Bitcoin Category Classification
			hr(id="h1_h4line")
			h4 Check the category in which any Bitcoin address & transaction belongs
			form(action='/page' method='post')
				select(id="select_ml", name="sel_ml")
					option model_one
					option(style="display:none") part2-slow
					option(style="display:none") part3-txoutgroup
				input(id="bitcoin_addr", autocomplete="off", type="text", name="addr", placeholder="Bitcoin Address or Transaction")
				input(id="send", type="submit", value="classification")

			img(id="dnlab_logo", src="/views/css/image_file/dnlab_logo.png")
			div(id="addr_info", class="info")
				h2 Address Count
				h3(style="font-size:30px;")= addr

			div(id="tx_info", class="info")
				h2 Transaction Count
				h3(style="font-size:30px;")= tx

			div(id="blk_info", class="info")
				h2 Block Count
				h3(style="font-size:30px;")= blk
