pip
wheel

# jupyter kernel
ipympl

# data analysis
numpy
pandas

# visualization
matplotlib

# https://github.com/alecalve/python-bitcoin-blockchain-parser.git
python-bitcoinrpc

# machine learning
scipy
scikit-learn
tensorflow
