# Bitcoind credential
secret.py

Practice.*

# archived file
*.igraph
*.pickle

# data directory
data/

# Binary
find_community_leiden
find_community_multilevel

# paper dataset
icisc2020/

# macro files
macro_*
